## 0.0.Imports

In [2]:
import pandas as pd
import numpy as np
import streamlit as st

In [3]:
import plotly.express as px
import plotly.graph_objects as go

import inflection

### 0.1.Variables

In [4]:
COUNTRIES = {
    1: 'India',
    14: 'Australia',
    30: 'Brazil',
    37: 'Canada',
    94: 'Indonesia',
    148: 'New Zeland',
    162: 'Philippines',
    166: 'Qatar',
    184: 'Singapure',
    189: 'South Africa',
    191: 'Sri Lanka',
    208: 'Turkey',
    214: 'United Arab Emirates',
    215: 'England',
    216: 'United States of America',
}

In [5]:
COLORS = {
    '3F7E00': 'darkgreen',
    '5BA829': 'green',
    '9ACD32': 'lightgreen',
    'CDD614': 'orange',
    'FFBA00': 'red',
    'CBCBC8': 'darkred',
    'FF7800': 'darkred',
}

### 0.2.Functions

In [6]:

def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(' ', '')
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

In [7]:
def create_price_tye(price_range):
    if price_range == 1:
        return 'cheap'
    elif price_range == 2:
        return 'normal'
    elif price_range == 3:
        return 'expensive'
    else:
        return 'gourmet'

In [8]:
def color_name(color_code):
    return COLORS[color_code]

In [9]:
def country_name(country_id):
    return COUNTRIES[country_id]

### 0.3.Load Data

In [10]:
df_raw = pd.read_csv('../data/zomato.csv')

## 1.0.Data Description

### 1.1.Data Types

### 1.2.Check NA

In [11]:
df_raw.isna().sum()

Restaurant ID            0
Restaurant Name          0
Country Code             0
City                     0
Address                  0
Locality                 0
Locality Verbose         0
Longitude                0
Latitude                 0
Cuisines                15
Average Cost for two     0
Currency                 0
Has Table booking        0
Has Online delivery      0
Is delivering now        0
Switch to order menu     0
Price range              0
Aggregate rating         0
Rating color             0
Rating text              0
Votes                    0
dtype: int64

In [12]:
df_raw = df_raw.dropna()

### 1.3. Data Dimensions

In [13]:
print(f"rows: {df_raw.shape[0]} and columns: {df_raw.shape[1]}")

rows: 7512 and columns: 21

### 1.4.Rename Columns

In [14]:
df = rename_columns(df_raw)
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

### 1.5.Clean Data

In [15]:
df['country_code'] = df['country_code'].replace({
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
})

In [16]:
df['cuisines'] = df.loc[:, 'cuisines'].astype(str).apply(lambda x: x.split(',')[0])
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,Philippines,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,Philippines,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,Filipino,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,Philippines,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

## 2.0.Answers

## 2.1.Geral

### 2.1.1. Quantos restaurantes únicos estão registrados?

In [17]:
df_restaurant = len(df['restaurant_id'].unique())
print(f'Numero de restaurantes unicos: {df_restaurant}')

Numero de restaurantes unicos: 6929

### 2.1.2. Quantos países únicos estão registrados?

In [18]:
df_country = len(df['country_code'].unique())
print(f'Numero de paises registrados: {df_country}')

Numero de paises registrados: 15

### 2.1.3. Quantas cidades únicas estão registradas?

In [19]:
df_city = len(df['city'].unique())
print(f'Numero de cidades registradas: {df_city}')

Numero de cidades registradas: 125

### 2.1.4. Qual o total de avaliações feitas?

In [20]:
df_votes = df['votes'].sum()
print(f'Total de avaliacoes feitas: {df_votes}')

Total de avaliacoes feitas: 4638535

### 2.1.5. Qual o total de tipos de culinária registrados?

In [21]:
df_cuisine = len(df['cuisines'].unique())
print(f'Tipos de culianaria registrado: {df_cuisine}')

Tipos de culianaria registrado: 165

## 2.2.País

#### 2.2.1. Qual o nome do país que possui mais cidades registradas?

In [22]:
df_cities = df[['country_code', 'city']].groupby(['country_code']).nunique().sort_values('city', ascending=False).reset_index()

print(f'O pais que possui o maior numeros de cidades registradas: {df_cities.iloc[0,0]}')

O pais que possui o maior numeros de cidades registradas: India

#### 2.2.2. Qual o nome do país que possui mais restaurantes registrados?

In [23]:
df_rest = df[['country_code', 'restaurant_name']].groupby(['country_code']).count().sort_values('restaurant_name', ascending=False).reset_index()

print(f'O pais que possui o maior numeros de restaurantes registrados: {df_rest.iloc[0,0]} com {df_rest.iloc[0,1]} restaurantes')

O pais que possui o maior numeros de restaurantes registrados: India com 3496 restaurantes

In [25]:
px.bar(df_rest, x= 'country_code', y = 'restaurant_name')

#### 2.2.3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [ ]:
df_price = (df.loc[df['price_range'] == 4, ['country_code', 'restaurant_id']].groupby(['country_code']).count().sort_values('restaurant_id', ascending=False)).reset_index()

print(f'O pais que possui mais restaurantes com o nível de preço igual a 4 registrados: {df_price.iloc[0,0]} com {df_price.iloc[0,1]} restaurantes')

O pais que possui mais restaurantes com o nível de preço igual a 4 registrados: United States of America com 418 restaurantes

#### 2.2.4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [ ]:
df_cuisines = df[['country_code', 'cuisines']].groupby(['country_code']).nunique().sort_values('cuisines', ascending=False).reset_index()

print(f'O pais que possui a maior quantidade de tipos de culinária distintos: {df_cuisines.iloc[0,0]} com {df_cuisines.iloc[0,1]} diferentes')

O pais que possui a maior quantidade de tipos de culinária distintos: India com 77 diferentes

#### 2.2.5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [27]:
df_country_votes = df[['country_code','votes']].groupby('country_code').sum().sort_values('votes', ascending=False).reset_index()

print(f'O pais que possui a maior quantidade de avaliacoes: {df_country_votes.iloc[0,0]} com {df_country_votes.iloc[0,1]} avaliacoes')

O pais que possui a maior quantidade de avaliacoes: India com 3175051 avaliacoes

In [30]:
px.bar(df_country_votes,  x='country_code', y ='votes')

#### 2.2.6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [ ]:
df_delivery =df.loc[df['is_delivering_now'] == 1, ['country_code', 'restaurant_id']].groupby('country_code').count().sort_values('restaurant_id', ascending=False).reset_index()

print(f'O pais que possui a maior quantidade de restaurantes que fazem entrega?: {df_delivery.iloc[0,0]} com {df_delivery.iloc[0,1]} restaurantes')

O pais que possui a maior quantidade de restaurantes que fazem entrega?: India com 1247 restaurantes

#### 2.2.7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [ ]:
df_booking =df.loc[df['has_table_booking'] == 1, ['country_code', 'restaurant_id']].groupby('country_code').count().sort_values('restaurant_id', ascending=False).reset_index()

print(f'O pais que possui a maior quantidade de restaurantes que aceitam reservas: {df_booking.iloc[0,0]} com {df_booking.iloc[0,1]} restaurantes')

O pais que possui a maior quantidade de restaurantes que aceitam reservas: India com 291 restaurantes

#### 2.2.8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [ ]:
df_votes_mean = df[['country_code','votes']].groupby('country_code').mean().sort_values('votes', ascending=False).reset_index()

print(f'O pais que possui, na media, a maior quantidade de avaliacoes: {df_votes_mean.iloc[0,0]}')

O pais que possui, na media, a maior quantidade de avaliacoes: Indonesia

#### 2.2.9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [ ]:
df_rating_mean = df[['country_code','aggregate_rating']].groupby('country_code').mean().sort_values('aggregate_rating', ascending=False).reset_index()

print(f'O pais que possui, na media, a maior avaliacao registrada: {df_rating_mean.iloc[0,0]}')

O pais que possui, na media, a maior avaliacao registrada: Indonesia

#### 2.2.10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [ ]:
df_rating_min_mean = df[['country_code','aggregate_rating']].groupby('country_code').mean().sort_values('aggregate_rating', ascending=True).reset_index()

print(f'O pais que possui, na media, a menor avaliacao registrada: {df_rating_min_mean.iloc[0,0]}')

O pais que possui, na media, a menor avaliacao registrada: Brazil

#### 2.2.11. Qual a média de preço de um prato para dois por país?

In [ ]:
df_cost_for_two = round(df[['country_code','average_cost_for_two']].groupby('country_code').mean().sort_values('average_cost_for_two', ascending=False), 2).reset_index()

df_cost_for_two

                country_code  average_cost_for_two
0                  Indonesia             312682.93
1                  Australia             138959.78
2                  Sri Lanka               2607.47
3                Philippines               1211.09
4                      India                703.01
5               South Africa                335.48
6                      Qatar                176.65
7       United Arab Emirates                158.22
8                  Singapure                141.04
9                     Brazil                137.38
10                    Turkey                128.85
11                New Zeland                 61.44
12  United States of America                 54.93
13                   England                 43.05
14                    Canada                 41.86

## 2.3.Cidade

#### 2.3.1.Qual o nome da cidade que possui mais restaurantes registrados?

In [ ]:
df_city = df[['restaurant_id', 'city']].groupby('city').count().sort_values('restaurant_id', ascending=False).reset_index()

df_city.iloc[0,0]

'Nagpur'

#### 2.3.2.Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [ ]:
df_city_mean_4 = df.loc[df['aggregate_rating'] >=4, ['city', 'restaurant_id']].groupby('city').count().sort_values('restaurant_id', ascending=False).reset_index()

df_city_mean_4.iloc[0,0]

'Kolkata'

#### 2.3.3.Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [ ]:
df_city_mean_2 = df.loc[df['aggregate_rating'] <=2.5, ['city', 'restaurant_id']].groupby('city').count().sort_values('restaurant_id', ascending=False).reset_index()

df_city_mean_2.iloc[0,0]

'Gangtok'

#### 2.3.4.Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [ ]:
df_for_two_mean = df[['city', 'average_cost_for_two']].groupby('city').mean().sort_values('average_cost_for_two', ascending=False).reset_index()

df_for_two_mean.iloc[0,0]

'Adelaide'

#### 2.3.5.Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [ ]:
df_city_cuisine = df[['city', 'cuisines']].groupby('city').nunique().sort_values('cuisines', ascending=False).reset_index()

df_city_cuisine.iloc[0,0]

'Birmingham'

#### 2.3.6.Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [ ]:
df_city_booking = (df.loc[df['has_table_booking'] == 1 , ['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id', ascending=False)).reset_index()

df_city_booking.iloc[0,0]

'Bangalore'

#### 2.3.7.Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [ ]:
df_city_delivery = (df.loc[df['is_delivering_now'] == 1 , ['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id', ascending=False)).reset_index()

df_city_delivery.iloc[0,0]

'Vadodara'

#### 2.3.8.Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [ ]:
df_city_online = (df.loc[df['has_online_delivery'] == 1 , ['city', 'restaurant_id']].groupby('city').nunique().sort_values('restaurant_id', ascending=False)).reset_index()

df_city_online.iloc[0,0]

'Bhopal'

## 2.4.Restaurantes

#### 2.4.1.Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [ ]:
df_rest_rating = df[['restaurant_name', 'votes']].sort_values('votes', ascending=False).reset_index()

df_rest_rating.iloc[0,1]

'Bawarchi'

In [ ]:
cols = [
    'restaurant_id', 'restaurant_name', 'country_code', 
    'city', 'cuisines', 'aggregate_rating', 'votes'
]

df.loc[:, cols].sort_values(['votes', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Bawarchi'

#### 2.4.2.Qual o nome do restaurante com a maior nota média?

In [ ]:
df_rest_mean = df[['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_rest_mean.iloc[0,1]

'Indian Grill Room'

#### 2.4.3.Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [ ]:
df_rest_max_for_two = df[['restaurant_id', 'restaurant_name', 'average_cost_for_two']].sort_values(['average_cost_for_two'], ascending=[False])

df_rest_max_for_two.iloc[0,1]

"d'Arry's Verandah Restaurant"

#### 2.4.4.Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [ ]:
df_brazilian_min_rating = df.loc[(df['country_code'] == 'Brazil') & (df['cuisines'] == 'Brazilian'), ['restaurant_id','restaurant_name','aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True])

df_brazilian_min_rating.iloc[0,1]

'Loca Como tu Madre'

#### 2.4.5.Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [ ]:
df_brazilian_max_rating = df.loc[(df['country_code'] == 'Brazil') & (df['cuisines'] == 'Brazilian'), ['restaurant_id','restaurant_name','aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_brazilian_max_rating.iloc[0,1]

'Braseiro da Gávea'

#### 2.4.6.Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [32]:
df_online_rating = round(df[['has_online_delivery', 'votes']].groupby('has_online_delivery').mean(), 2).reset_index()

df_online_rating

   has_online_delivery   votes
0                    0  494.34
1                    1  843.03

#### 2.4.7.Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [ ]:
df_booking_rating = round(df[['has_table_booking', 'average_cost_for_two']].groupby('has_table_booking').mean(), 2).reset_index()

df_booking_rating

   has_table_booking  average_cost_for_two
0                  0               3460.61
1                  1              62931.51

#### 2.4.8.Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [ ]:
lines = (df['country_code'] == 'United States of America') & ((df['cuisines'] == 'BBQ') | (df['cuisines'] == 'Japanese'))

df_america_cuisine = round(df.loc[lines, ['average_cost_for_two', 'cuisines']].groupby('cuisines').mean().sort_values('average_cost_for_two', ascending=False), 2).reset_index()

df_america_cuisine

   cuisines  average_cost_for_two
0  Japanese                 56.41
1       BBQ                 39.64

## 2.5.Culinaria

#### 2.5.1.Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df_italian_rating_max = df.loc[(df['cuisines'] == 'Italian'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_italian_rating_max.iloc[0,1]

'Darshan'

#### 2.5.2.Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df_italian_rating_min = df.loc[(df['cuisines'] == 'Italian'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True])

df_italian_rating_min.iloc[0,1]

'Avenida Paulista'

#### 2.5.3.Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df_american_rating_max = df.loc[(df['cuisines'] == 'American'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_american_rating_max.iloc[0,1]

'Burger & Lobster'

#### 2.5.4.Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df_american_rating_min = df.loc[(df['cuisines'] == 'American'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True])

df_american_rating_min.iloc[0,1]

'Alston Bar & Beef'

#### 2.5.5.Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df_arabian_rating_max = df.loc[(df['cuisines'] == 'Arabian'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_arabian_rating_max.iloc[0,1]

'Mandi@36'

#### 2.5.6.Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df_arabian_rating_min = df.loc[(df['cuisines'] == 'Arabian'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True])

df_arabian_rating_min.iloc[0,1]

'Raful'

#### 2.5.7.Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df_japanese_rating_max = df.loc[(df['cuisines'] == 'Japanese'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_japanese_rating_max.iloc[0,1]

'Sushi Samba'

#### 2.5.8.Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df_japanese_rating_min = df.loc[(df['cuisines'] == 'Japanese'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True])

df_japanese_rating_min.iloc[0,1]

'Banzai Sushi'

#### 2.5.9.Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df_home_rating_max = df.loc[(df['cuisines'] == 'Home-made'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True])

df_home_rating_max.iloc[0,1]

'Kanaat Lokantası'

#### 2.5.10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df_home_rating_min = df.loc[(df['cuisines'] == 'Home-made'), ['restaurant_id', 'restaurant_name', 'aggregate_rating']].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True])

df_home_rating_min.iloc[0,1]

'GurMekan Restaurant'

#### 2.5.11.Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [ ]:
df_cuisine_mean_for_two = df[['cuisines', 'average_cost_for_two']].sort_values(['average_cost_for_two'], ascending=[False])

df_cuisine_mean_for_two.iloc[0,0]

'Modern Australian'

#### 2.5.12.Qual o tipo de culinária que possui a maior nota média?

In [ ]:
df_cuisine_max_rating = df[['aggregate_rating', 'cuisines']].groupby('cuisines').max().sort_values('aggregate_rating', ascending=False).reset_index()

df_cuisine_max_rating.loc[[0], :]

  cuisines  aggregate_rating
0   Indian               4.9

#### 2.5.13.Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [ ]:
df_cuisine_online = df.loc[(df['has_online_delivery'] == 1) & (df['is_delivering_now'] == 1), ['restaurant_id', 'cuisines'] ].groupby('cuisines').count().sort_values('restaurant_id', ascending=False).reset_index()

df_cuisine_online.loc[[0],:]

       cuisines  restaurant_id
0  North Indian            343

In [ ]:
df['color_name'] = df.loc[:, 'rating_color'].apply(lambda x: color_name(x))

In [ ]:
df_top = df.groupby(['restaurant_id', 'restaurant_name', 'city', 'country_code','cuisines', 'aggregate_rating']).mean().sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).reset_index()
df_top[['restaurant_name', 'city','country_code','cuisines', 'aggregate_rating']].head(10)

,restaurant_name,city,country_code,cuisines,aggregate_rating
0,Indian Grill Room,Gurgaon,India,North Indian,4.9
1,Pirates of Grill,Gurgaon,India,North Indian,4.9
2,Darshan,Pune,India,Italian,4.9
3,Barbeque Nation,Kolkata,India,North Indian,4.9
4,AB's - Absolute Barbecues,Bangalore,India,European,4.9
5,Byg Brewski Brewing Company,Bangalore,India,Continental,4.9
6,AB's - Absolute Barbecues,Chennai,India,BBQ,4.9
7,Restaurant Mosaic @ The Orient,Pretoria,South Africa,French,4.9
8,Tapri Central,Jaipur,India,Cafe,4.9
9,Yanki Sizzlers,Ahmedabad,India,Continental,4.9

In [ ]:
df_top_cuisines = round(df.groupby(['cuisines']).mean().sort_values(['aggregate_rating'], ascending=[False]), 2).reset_index()
df_top_cuisines[['cuisines', 'aggregate_rating']].head(10)

     cuisines  aggregate_rating
0      Others              4.90
1       Ramen              4.80
2    Egyptian              4.80
3     Ottoman              4.80
4       Sunda              4.75
5  Fresh Fish              4.75
6      Polish              4.70
7      Author              4.70
8     Burmese              4.65
9    Filipino              4.62